*{
  margin: 0;
}

.App{
  background-color: #fafafa;
  height: 100vh;
}

.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
} 
.app__posts{

    padding: 20px;
    display: flex;
    justify-content: center;
}

.app__headerImage{
  object-fit: contain;
  width:200px;
}

.app__signUp{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Up_Load {

  position: center;
  
}

.app_postrghit {

  margin-left: 20px;

}

