*{
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app__header{
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__headerImage{
  object-fit: contain;
}

.app__signUp{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Up_Load {

  position: center;
  
}